 body,html {
    background: 
    radial-gradient(circle at left top, #0066ff34, transparent 65%),
    radial-gradient(circle at right bottom, #0066ff34, transparent 65%),
    #0a0a0a;
    /* 0066ff26 */
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position: left center, right center;
    margin: 0;
    overflow: hidden;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.Container {
    min-width: 400px;
    background-color: #181a1b;
    height: 600px;
    border-radius: 8px;
    padding:10px 30px 10px 30px;
    margin:30px auto 0px auto;
    position: relative;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600
}

.UsernameContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    float: left;
    font-weight: 600;
    margin-bottom: 25px;
}

.EmailContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    float: left;
    font-weight: 600;
    margin-bottom: 25px;
}

.PasswordContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    float: left;
    font-weight: 600;
    margin-bottom: 25px;
}

/* input:invalid {
  border: 2px solid red;
} */

#userError {
    color: red;
    position: absolute;
    top: 80%;
    font-weight: 100;
    display: none;
    font-size: 0.8rem;
}

#emailError {
    color: red;
    position: absolute;
    top: 80%;
    font-weight: 100;
    display: none;
    font-size: 0.8rem;
}

#passwordError {
    color: red;
    position: absolute;
    top: 80%;
    font-weight: 100;
    display: none;
    font-size: 0.8rem;
}

#passwordConfirmError {
    color: red;
    position: absolute;
    top: 80%;
    font-weight: 100;
    display: none;
    font-size: 0.8rem;
}

.Register{
    display: flex;
    flex-direction: column;
    min-width: 350px;
}

input {
    width: 97%;
    height: 30px;
    margin-top: 5px;
    background-color: #343a3b;
    border: solid 0px transparent;
    border-radius: 2px;
    padding-left: 10px;
    color: white;
    letter-spacing: 0.5px;
}

.ButtonsMidia {
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.CheckboxContainer {
    margin: 0;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.CheckboxContainer label {
    color: #ffffffd7;
    font-weight: 600;
    font-size: 0.9rem;
    cursor: pointer;
}
.CheckboxContainer label:hover {
    color: #ffffff;
}

.TermsAndConditions {
    color: #006effbd;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem;
}

.TermsAndConditions a:hover {
    color: #0066ff;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin:0;
    accent-color: #0066ffb6;
    cursor: pointer;
}

#submitButton {
    width: 100%;
    height: 40px;
    background-color: #0066ff8c;
    border: solid 2px #0066ff34;
    font-family: 'Noto Sans', sans-serif;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 1rem;
    margin-top: 20px;
    cursor: pointer;
}

#submitButton:hover {
    background-color: #0066ff;
    border: solid 2px #0066ff;
}

.LinksContainer {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 0.8rem;
}

.CreateAccount a {
    color: #006effbd;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
}

.CreateAccount a:hover {
    color: #0066ff;
}

@media screen and (max-width: 1024px) {
    .Container {
        min-width: 330px;
        height: 100vh;
        width: 100vh;
        margin:0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .AdminContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 1%;
        left: auto;
        right: auto;
        width: 200px;
        height: 80px;
        font-size: 0.8rem;
        line-height: normal;
    }

    .AdminContainer h1,p {
    margin: 0px;
    }

    .AdminContainer h1 {
        font-size: 1.2rem;
        margin-bottom: 5px;
        display: none;
    }

    .AdminContainer > p:nth-child(4) {
        margin-top: 5px;
    }

    .ErrorMensager {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 10px 10px 0px 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    top: 15%;
    display: none;
    font-weight: 600;
    }

    #passwordError,#userError {
    top: 100%;
    }

    .CreateAccount{
        margin: 20px 0 0 0;
    }
}
